@import "../sass/utils/variables";
@import "../sass/utils/mixins";

body{
    margin: 0;
}

header{
    @include headfoot_rules ;
    h1{
        @include titlelogo_header_rules
    }
}

footer{
    @include headfoot_rules ;
    @include footer_rules ;
    a{
        @include headfoot_rules ;
        @include link_home;
    }
}

#homeBody{
    @include home_rules ;
}

#homeMain{
    @include mainHome_rules ;
}

nav {
    @include nav_home ;
    @include headfoot_rules ;
}

.item_style{
    @include item_home_rules ;
}

.bloc_text_item{
    @include bloctext_item_home;
    a{
        @include link_home ;
    }
}

#blocMenu1{
    background-color: $color_background_menu1;
    color: $color_text_menu1;
    h2{
        font-family: $font_title_menu1 ;
    }
    a{
        color: $color_text_menu1;
        font-family: $font_text_menu1;
        font-weight: bold ;
    }
    i{
        color: $color_picto_menu1 ;
        text-decoration:solid ;
        height: 10px;
        margin-bottom: 0;
    }

}

#blocMenu2{
    background-color: $color_background_menu2;
    color : $color_text_menu2;
    h2{
        font-family: $font_title_menu2 ;
    }
    a{
        color: $color_text_menu2;
        font-family: $font_text_menu2;
        font-weight: bold;
    }
}

#blocMenu3{
    background-color: $color_background_menu3;
    color: $color_text_menu3;
    h2{
        font-family: $font_title_menu3 ;
        font-weight: normal;
    }
    a{
        color: $color_text_menu3;
        font-family: $font_text_menu3;
    }
}

#blocMenu4{
    background-color: $color_background_menu4;
    color: $color_text_menu4;
    h2{
        font-family: $font_title_menu4 ;
    }
    a{
        color: $color_text_menu4;
        font-family: $font_text_menu4;
    }
}

//a partir de la ça ne concerne que les pages
.page_menu{
    @include page_rules ; 
}
.page_main{
    @include mainPage_rules ;
     h1{
        @include titlemain_rules;
    }
}

.bloc_card_style{
    @include bloc_card_menu ;
    h1{
        @include card_titleh1_top ;
    }
    h2{
        @include card_titleh2_border ; 
    }
}

li{
     @include list_text_menu;
}
 
ul{
    @include ul_bloc_menu;
}

//a partir de la specificite par pg
//pge menu1
#bloc_card_menu1{
    background-color: $color_background_menu1;
    color: $color_text_menu1;
    h1{
        font-family: $font_title_menu1;
    }
    h2, li{
        font-family: $font_text_menu1;
    }
    i{
        font-size: xx-large;
        color: $color_picto_menu1;
    }
    ul{
        padding-right: 0;
        padding-left: 0;
    }
}

#blocTitle_bottom{
    h3{
        @include card_titleh3_bottom ; 
        font-family: $font_title_menu1;
    }
    i{
        font-size: larger;
        color: $color_picto_menu1;
        margin-right: 2%;
    }
}
//pge menu2
#bloc_card_menu2{
    background-color: $color_background_menu2;
    h1{
        font-family: $font_title_menu2;
        color: $color_text_menu2;
    }
    h2{
        font-size: large;
    }
    li{
        font-size: medium;
    }
    h2, li{
        font-family: $font_text_menu2;
    }
    #blocEntrée_menu2 {
        color: $color_text_entreemenu2 ;
    }
    #blocPlat_menu2{
        color: $color_text_platmenu2 ;
    }
    #blocDessert_menu2{
        color: $color_text_dessertmenu2;
    }    
}
//pge menu3
#bloc_card_menu3{
    background-color: $color_background_menu3;
    h1{
        color: $color_text_menu3;
        font-family: $font_title_menu3;
        font-weight: normal;
        font-size: 40px;
    }
    h2, li{
        font-family: $font_text_menu3;
        color: black;
    }
}
//pge menu4
#bloc_card_menu4{
    background-color: $color_background_menu4;
    h1{
        color: $color_text_menu4;
        font-family: $font_title_menu4;
        font-size: 40px;
    }
    h2, li{
        font-family: $font_text_menu4;
        color: black;
    }
}

