@import "../sass/utils/variables";
@import "../sass/utils/mixins";

body{
    margin: 0;
}

header{
    @include headfoot_rules ;

    h1{
        text-align: center;
        font-size: xx-large;
    }
}

footer{
    @include headfoot_rules ;
    @include footer_rules ;
    a{
        @include headfoot_rules ;
        @include link_home;
    }
}

#homeBody{
    @include home_rules ;
}

main{
    @include main_rules ;
}

nav {
    @include nav_home ;
    @include headfoot_rules ;
}

.item_style{
    @include item_home_rules ;
}

.bloc_text_item{
    @include bloctext_item_home;
    i{
        color: $color_picto_menu1 ;
        text-decoration:solid ;
        height: 10px;;
    }
    a{
        @include link_home ;
    }
}

#blocMenu1{
    background-color: $color_background_menu1;
    color: $color_text_menu1;
    h2{
        font-family:$font_title_menu1 ;
    }
    a{
        color: $color_text_menu1;
        font-family: $font_link_menu1;
        font-weight: bold ;
    }
    i{
        margin-bottom: 0;
    }
}

#blocMenu2{
    background-color: $color_background_menu2;
    color : $color_text_menu2;
    h2{
        font-family: $font_title_menu2 ;
    }
    a{
        color: $color_text_menu2;
    }
}

#blocMenu3{
    background-color: $color_background_menu3;
    color: $color_text_menu3;
    h2{
        font-family: $font_title_menu3 ;
    }
    a{
        color: $color_text_menu3;
        font-family: $font_link_menu3;
    }
}

#blocMenu4{
    background-color: $color_background_menu4;
    color: $color_text_menu4;
    h2{
        font-family: $font_title_menu4 ;
    }
    a{
        color: $color_text_menu4;
        font-family: $font_link_menu4;
    }
}

//a partir de la ça ne concerne que les pages
.page_menu{
    @include page_rules ; 
}

.bloc_card_style{
    @include bloc_card_menu ;
    h1{
        @include card_titleh1_top ;
    }
    h2{
        @include card_titleh2_border ; 
    }
    h3{
        @include card_titleh3_bottom ; 
    }
 }

li{
     @include list_text_menu;
}
 
 ul
 {
     @include ul_bloc_menu;
 }

 //a parti de la specificite par pg
#bloc_card_menu1{
    background-color: $color_background_menu1;
    //ajout police
    li{
        font-family: $font_link_menu1;
    }
}

#bloc_card_menu2{
    background-color: $color_background_menu2;
    //ajout police
}

#bloc_card_menu3{
    background-color: $color_background_menu3;
    //ajout police
    li{
        font-family: $font_link_menu1;
    }
}

#bloc_card_menu4{
    background-color: $color_background_menu4;
    //ajout police
    li{
        font-family: $font_link_menu1;
    }
}

