@charset "UTF-8";
@keyframes dott {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: ".";
  }
}
@keyframes shake {
  10% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  70% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}
body {
  margin: 0;
}

header {
  background-color: #579c87;
  color: #fdcb46;
}
header h1 {
  text-align: center;
  font-size: 47px;
  margin: 1%;
  width: 96%;
  font-family: "Almarai", sans-serif;
}
@media all and (max-width: 460px) {
  header h1 {
    font-size: 35px;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  header h1 {
    font-size: 40px;
  }
}
header h1 a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  height: 50px;
  position: sticky;
  bottom: 0;
}
footer .shakeLink:hover {
  animation: 400ms shake infinite;
  animation-iteration-count: infinite;
}
@media all and (max-width: 460px) {
  footer .shakeLink {
    font-size: smaller;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  footer .shakeLink {
    font-size: medium;
    margin-top: 5%;
  }
}
@media all and (max-width: 768px) {
  footer {
    height: 37px;
  }
}
footer a {
  background-color: #579c87;
  color: #fdcb46;
  text-decoration: none;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

#homeBody {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#homeMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
  width: 80%;
  align-self: center;
}
@media all and (max-width: 460px) {
  #homeMain {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  #homeMain {
    align-items: center;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 30%;
  border-radius: 10px;
  margin: 2%;
  background-color: #579c87;
  color: #fdcb46;
}
nav .textLoading {
  margin-left: 20%;
}
@media all and (max-width: 460px) {
  nav .textLoading {
    margin-left: 12%;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  nav .textLoading {
    margin-left: 15%;
  }
}
nav .textLoading:after {
  display: inline-block;
  animation: dott steps(1, end) 1s infinite;
  content: "";
}
nav p {
  font-size: larger;
  font-family: "Noto Sans", sans-serif;
}
@media all and (max-width: 460px) {
  nav p {
    font-size: small;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  nav p {
    font-size: medium;
  }
}
@media all and (max-width: 460px) {
  nav {
    width: 45%;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  nav {
    width: 38%;
  }
}

.item_style {
  border: solid rgba(150, 107, 107, 0.027);
  height: 400px;
  width: 30%;
  margin: 2%;
  box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px;
}
@media all and (max-width: 360px) {
  .item_style {
    height: 325px;
    width: 78%;
  }
}
@media all and (min-width: 360px) and (max-width: 768px) {
  .item_style {
    width: 60%;
    height: 370px;
  }
}
.item_style a {
  text-decoration: none;
  text-align: center;
}

.bloc_text_item {
  margin-top: 45%;
  text-align: center;
  transition: transform;
  transition-duration: 400ms;
}
.bloc_text_item:hover {
  transform: scale(1.3);
  opacity: 0.7;
}
@media all and (max-width: 460px) {
  .bloc_text_item:hover {
    transform: scale(1.1);
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  .bloc_text_item:hover {
    transform: scale(0.5);
  }
}
.bloc_text_item h2 {
  font-size: xx-large;
  margin-bottom: 3%;
  font-weight: normal;
}
@media all and (max-width: 460px) {
  .bloc_text_item h2 {
    font-size: x-large;
  }
}
.bloc_text_item p {
  font-size: xx-large;
  margin: 3%;
}
@media all and (max-width: 460px) {
  .bloc_text_item p {
    font-size: x-large;
  }
}

.page_menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  margin: 0;
}

.page_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}
.page_main h1 {
  margin-bottom: 0%;
  margin-top: 5%;
  font-size: xx-large;
  font-family: "Noto Sans", sans-serif;
}
@media all and (max-width: 460px) {
  .page_main h1 {
    font-size: 23px;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  .page_main h1 {
    font-size: 27px;
  }
}

.bloc_card_style {
  border: solid rgba(150, 107, 107, 0.027);
  text-align: center;
  width: 65%;
  height: 950px;
  align-self: center;
  margin: 5%;
  margin-top: 2%;
  box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px;
}
@media all and (max-width: 460px) {
  .bloc_card_style {
    width: 93%;
    height: 580px;
    margin: 3%;
  }
}
@media (min-width: 460px) and (max-width: 580px) {
  .bloc_card_style {
    width: 85%;
    height: 705px;
    margin: 3%;
  }
}
@media all and (min-width: 580px) and (max-width: 800px) {
  .bloc_card_style {
    width: 80%;
    height: 760px;
  }
}
.bloc_card_style .borderTitle {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc_card_style .borderTitle:before, .bloc_card_style .borderTitle:after {
  content: "";
  border-bottom: 5px solid;
  height: 2px;
  width: 30%;
  display: block;
  margin: 3%;
}
@media all and (max-width: 460px) {
  .bloc_card_style .borderTitle:before, .bloc_card_style .borderTitle:after {
    border-bottom: 2px solid;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  .bloc_card_style .borderTitle:before, .bloc_card_style .borderTitle:after {
    border-bottom: 3px solid;
  }
}
.bloc_card_style .underlineTitle {
  position: relative;
}
.bloc_card_style .underlineTitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.bloc_card_style .underlineTitle:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}
.bloc_card_style h1 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  margin: 10%;
}
@media all and (max-width: 460px) {
  .bloc_card_style h1 {
    font-size: 30px;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  .bloc_card_style h1 {
    font-size: 40px;
  }
}
.bloc_card_style h2 {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: medium;
  width: 25%;
}
@media all and (max-width: 460px) {
  .bloc_card_style h2 {
    font-size: 13px;
    width: 40%;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  .bloc_card_style h2 {
    font-size: small;
  }
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2.5;
  text-align: start;
  font-size: small;
}
@media all and (max-width: 460px) {
  li {
    font-size: 11px;
    line-height: 1.5;
  }
}
@media (min-width: 460px) and (max-width: 580px) {
  li {
    line-height: 2.2;
    font-size: x-small;
  }
}
@media all and (min-width: 580px) and (max-width: 768px) {
  li {
    line-height: 1.7;
  }
}

ul {
  margin-top: 2%;
  margin-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
}
@media all and (max-width: 460px) {
  ul {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  ul {
    padding-left: 3%;
    padding-right: 3%;
  }
}

#blocMenu1 {
  background-color: #fccfcf;
  color: #3d1319;
}
#blocMenu1 .bloc_text_item {
  margin-top: 30%;
}
#blocMenu1 p {
  margin: 0;
}
#blocMenu1 i {
  color: #f5606a;
  text-decoration: solid;
  font-size: 35px;
}
#blocMenu1 h2 {
  font-family: "Ma Shan Zheng", cursive;
  font-size: 35px;
  margin-top: 0%;
}
#blocMenu1 h2 span {
  font-family: "Devonshire", cursive;
}
#blocMenu1 a {
  color: #3d1319;
  font-family: "Segoe Print", "Caveat";
  font-weight: bold;
}

#blocMenu2 {
  background-color: #fce9fa;
  color: #c77412;
}
#blocMenu2 h2 {
  font-family: "Croissant One", cursive;
  font-size: larger;
}
#blocMenu2 a {
  color: #c77412;
  font-family: "Taviraj", "Merriweather", serif;
  font-weight: bold;
}
@media all and (max-width: 460px) {
  #blocMenu2 .bloc_text_item:hover {
    transform: scale(1.12);
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  #blocMenu2 .bloc_text_item:hover {
    transform: scale(0.9);
  }
}

#blocMenu3 {
  background-color: #edeffa;
}
#blocMenu3 h2 {
  font-family: "Dancing Script", cursive;
  color: #3247ff;
}
#blocMenu3 a {
  color: #0887fb;
  font-family: "Segoe Print", "Caveat";
}

#blocMenu4 {
  background-color: #fdfffd;
  color: #55cd59;
}
#blocMenu4 h2 {
  font-family: "Kaushan Script", cursive;
}
#blocMenu4 a {
  color: #55cd59;
  font-family: "Segoe Print", "Caveat";
}

#bloc_card_menu1 {
  background-color: #fccfcf;
}
#bloc_card_menu1 h1 {
  font-family: "Ma Shan Zheng", cursive;
  margin-top: 0;
  margin-bottom: 3%;
}
#bloc_card_menu1 h1 span {
  font-family: "Devonshire", cursive;
}
#bloc_card_menu1 i {
  font-size: 50px;
  color: #f5606a;
  margin-bottom: 0;
  margin-top: 5%;
}
@media all and (max-width: 460px) {
  #bloc_card_menu1 i {
    font-size: 20px;
    margin-top: 1%;
  }
}
@media (min-width: 460px) and (max-width: 580px) {
  #bloc_card_menu1 i {
    font-size: 30px;
    margin-top: 4%;
  }
}
@media all and (min-width: 580px) and (max-width: 800px) {
  #bloc_card_menu1 i {
    font-size: 40px;
  }
}
#bloc_card_menu1 h2, #bloc_card_menu1 li {
  font-family: "Segoe Print", "Caveat";
}
#bloc_card_menu1 .borderTitle::before, #bloc_card_menu1 .borderTitle::after {
  border-bottom-color: #3d1319;
  font-family: "Segoe Print", "Caveat";
}
#bloc_card_menu1 .borderTitle::before {
  margin-left: 7%;
}
#bloc_card_menu1 .borderTitle::after {
  margin-right: 7%;
}
#bloc_card_menu1 .underlineTitle::before {
  content: "";
  background-color: #3d1319;
}
@media all and (max-width: 460px) {
  #bloc_card_menu1 li {
    font-size: x-small;
  }
}

#blocTitle_bottom h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: "Ma Shan Zheng", cursive;
}
@media all and (max-width: 460px) {
  #blocTitle_bottom h3 {
    font-size: 17px;
  }
}
@media (min-width: 460px) and (max-width: 580px) {
  #blocTitle_bottom h3 {
    font-size: 20px;
  }
}
@media all and (min-width: 580px) and (max-width: 800px) {
  #blocTitle_bottom h3 {
    font-size: 23px;
  }
}
#blocTitle_bottom h3 span {
  font-family: "Devonshire", cursive;
}
#blocTitle_bottom i {
  font-size: larger;
  color: #f5606a;
  margin-right: 1%;
  margin-top: 1%;
}
@media all and (min-width: 460px) and (max-width: 768px) {
  #blocTitle_bottom {
    margin-bottom: 10%;
    margin-top: 7%;
  }
}

#bloc_card_menu2 {
  background-color: #fce9fa;
}
#bloc_card_menu2 h1 {
  font-family: "Croissant One", cursive;
  color: #c77412;
  font-weight: bold;
  font-size: 40px;
}
@media all and (max-width: 460px) {
  #bloc_card_menu2 h1 {
    font-size: 20px;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  #bloc_card_menu2 h1 {
    font-size: 30px;
  }
}
#bloc_card_menu2 h2 {
  font-size: large;
  width: 33%;
}
@media all and (max-width: 460px) {
  #bloc_card_menu2 h2 {
    font-size: small;
  }
}
@media all and (min-width: 460px) and (max-width: 768px) {
  #bloc_card_menu2 h2 {
    font-size: medium;
  }
}
#bloc_card_menu2 h2, #bloc_card_menu2 li {
  font-family: "Taviraj", "Merriweather", serif;
}
#bloc_card_menu2 #blocEntrée_menu2 {
  color: #c67412;
}
#bloc_card_menu2 #blocEntrée_menu2 .borderTitle::before, #bloc_card_menu2 #blocEntrée_menu2 .borderTitle::after {
  border-bottom-color: #c67412;
}
#bloc_card_menu2 #blocEntrée_menu2 .underlineTitle::before {
  content: "";
  background-color: #c67412;
}
#bloc_card_menu2 #blocPlat_menu2 {
  color: #a56799;
}
#bloc_card_menu2 #blocPlat_menu2 .borderTitle::before, #bloc_card_menu2 #blocPlat_menu2 .borderTitle::after {
  border-bottom-color: #a56799;
}
#bloc_card_menu2 #blocPlat_menu2 .underlineTitle::before {
  content: "";
  background-color: #a56799;
}
#bloc_card_menu2 #blocDessert_menu2 {
  color: #6e4ccc;
}
#bloc_card_menu2 #blocDessert_menu2 .borderTitle::before, #bloc_card_menu2 #blocDessert_menu2 .borderTitle::after {
  border-bottom-color: #6e4ccc;
}
#bloc_card_menu2 #blocDessert_menu2 .underlineTitle::before {
  content: "";
  background-color: #6e4ccc;
}

#bloc_card_menu3 {
  background-color: #edeffa;
}
#bloc_card_menu3 h1 {
  color: #3247ff;
  font-family: "Dancing Script", cursive;
}
#bloc_card_menu3 h2, #bloc_card_menu3 li {
  font-family: "Segoe Print", "Caveat";
  color: black;
}
#bloc_card_menu3 .borderTitle::before, #bloc_card_menu3 .borderTitle::after {
  border-bottom-color: #0887fb;
}
#bloc_card_menu3 .underlineTitle::before {
  content: "";
  background-color: #0887fb;
}

#bloc_card_menu4 {
  background-color: #fdfffd;
}
#bloc_card_menu4 h1 {
  color: #55cd59;
  font-family: "Kaushan Script", cursive;
}
#bloc_card_menu4 h2, #bloc_card_menu4 li {
  font-family: "Segoe Print", "Caveat";
  color: black;
}
#bloc_card_menu4 .borderTitle::before, #bloc_card_menu4 .borderTitle::after {
  border-bottom-color: #55cd59;
}
#bloc_card_menu4 .underlineTitle::before {
  content: "";
  background-color: #55cd59;
}

.page_mentions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}
@media all and (max-width: 330px) {
  .page_mentions {
    height: 1240px;
  }
}
@media all and (min-width: 330px) and (min-width: 640px) {
  .page_mentions {
    height: 1260px;
  }
}
@media all and (min-width: 640px) and (max-width: 768px) {
  .page_mentions {
    height: 1281px;
  }
}

article {
  background-color: #579c87;
  color: #fdcb46;
  border: solid rgba(150, 107, 107, 0.027);
  text-align: center;
  width: 65%;
  height: 1032px;
  align-self: center;
  margin: 5%;
  margin-top: 2%;
  box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px;
}
@media all and (max-width: 330px) {
  article {
    height: 1150px;
  }
}
@media all and (min-width: 330px) and (min-width: 640px) {
  article {
    height: 1090px;
  }
}
@media all and (min-width: 640px) and (max-width: 768px) {
  article {
    height: 1021px;
  }
}
article h1 {
  font-size: large;
}
article h2 {
  font-size: smaller;
}
article p {
  font-size: small;
}
@media all and (max-width: 460px) {
  article p {
    font-size: x-small;
  }
}

/*# sourceMappingURL=style.css.map */
