
#blocMenu4{
    background-color: $color_background_menu4;
    color: $color_text_menu4;
    h2{
        font-family: $font_title_menu4 ;
    }
    a{
        color: $color_text_menu4;
        font-family: $font_text_menu4;
    }
}




