
#blocMenu2{
    background-color: $color_background_menu2;
    color : $color_text_menu2;
    .gradient_text{
        background: linear-gradient(to right, $color_text_menu2 0%, $color_text_platmenu2 70%, $color_text_dessertmenu2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2{
        font-family: $font_title_menu2 ;
        font-size: larger;

    }
    p{
        color: $color_text_menu2;
        font-family: $font_text_menu2;
        font-weight: bold;
    }
}



