
#blocMenu4{
    background-color: $color_background_menu4;
    .gradient_text{
        background: linear-gradient(to right, $color_text_menu4 0%, $color_gradient_menu4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2{
        font-family: $font_title_menu4 ;
    }
    p{
        color: $color_text_menu4;
        font-family: $font_text_menu4;
    }
}




