.page_mentions{
    @include mainPage_rules ;

}

article {
    @include headfoot_rules;
    @include bloc_card_menu; 
    padding: 7%; 
    h1{
        font-size: x-large;
        margin: 5%;
    }
    h2{
        font-size: medium;

    }
    p{
    font-size: small;
    text-align: justify;
    }
}