
#bloc_card_menu2{
    background-color: $color_background_menu2;
    h1{
        font-family: $font_title_menu2;
        color: $color_text_menu2;
        font-weight: bold;
        font-size: 40px;
    }
    h2{
        font-size: large;
    }
    h2, li{
        font-family: $font_text_menu2;
    }
    #blocEntrée_menu2 {
        color: $color_text_entreemenu2 ;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_entreemenu2;
        }
    
    }
    #blocPlat_menu2{
        color: $color_text_platmenu2 ;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_platmenu2;
        }
    
    }
    #blocDessert_menu2{
        color: $color_text_dessertmenu2;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_dessertmenu2;
        }
    
    }    
}
