
#bloc_card_menu2{
    background-color: $color_background_menu2;
    h1{
        font-family: $font_title_menu2;
        color: $color_text_menu2;
        font-weight: bold;
        font-size: 40px;
        background: linear-gradient(to right, $color_text_menu2 0%, $color_text_platmenu2 70%, $color_text_dessertmenu2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media all and (max-width: 460px) {
            font-size: 20px;
        }
        @media all and (min-width: 460px) and (max-width: 768px){
            font-size: 30px;
        }
        
    }
    h2{
        font-size: 13px;
        width: 40%;
    }
    .borderTitle::before, .borderTitle::after{
        width:30%;
    
    }
    li{
        font-size: small;
    }
    h2, li{
        font-family: $font_text_menu2;
    }
    #blocEntrée_menu2 {
        color: $color_text_entreemenu2 ;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_entreemenu2;
        }
        .underlineTitle::before{
            content: '';
            background-color: $color_text_entreemenu2;
        }
    
    
    }
    #blocPlat_menu2{
        color: $color_text_platmenu2 ;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_platmenu2;
        }
        .underlineTitle::before{
            content: '';
            background-color: $color_text_platmenu2;
        }
    
    
    }
    #blocDessert_menu2{
        color: $color_text_dessertmenu2;
        .borderTitle::before, .borderTitle::after{
            border-bottom-color: $color_text_dessertmenu2;
        }
        .underlineTitle::before{
            content: '';
            background-color: $color_text_dessertmenu2;
        }
    }   
}
