
#bloc_card_menu1{
    background-color: $color_background_menu1;
   // width: 40%;height: 670px;
    
    h1{
        font-family: $font_title_menu1;
        margin-top: 0;
        margin-bottom: 3%;
        span{
            font-family: $font_span_menu1;
        }
    }
    i{
    font-size: 50px;
    color: $color_picto_menu1;
    margin-bottom: 0;
    margin-top: 5%; //picto top
    @media all and (max-width: 460px) {
        font-size: 20px;
        margin-top: 1%;
    }
    @media (min-width: 460px) and (max-width: 580px){
        font-size: 30px;
        margin-top: 4%;
    }
    @media all and (min-width: 580px) and (max-width: 800px){
        font-size: 40px;
    }

    }
    h2, li{
        font-family: $font_text_menu1;
    }
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_text_menu1;
        font-family: $font_text_menu1;
    }
    .borderTitle::before{
        margin-left: 7%;
    }
    .borderTitle::after{
        margin-right: 7%;
    }
    .underlineTitle::before{
        content: '';
        background-color: $color_text_menu1;
    }
    li{
        @media all and (max-width: 460px) {
            font-size: x-small;
        }
        
    }

}

#blocTitle_bottom{
    h3{
        @include card_titleh3_bottom ; 
        font-family: $font_title_menu1;
        span{
            font-family: $font_span_menu1;
        }
    }
    i{
        font-size: larger;
        color: $color_picto_menu1;
        margin-right: 1%;
        margin-top: 1%;
        
    } //picto bottom
    @media all and (min-width: 460px) and (max-width: 768px){
        margin-bottom: 10%;
        margin-top: 7%;
        

    }

}
