
#bloc_card_menu3{
    background-color: $color_background_menu3;
    h1{
        color: $color_title_menu3;
        font-family: $font_title_menu3;
    }
    h2, li{
        font-family: $font_text_menu3;
        color: black;
    }
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_text_menu3;
        }

}
