
#bloc_card_menu3{
    background-color: $color_background_menu3;
    @media all and (max-width: 460px) {
        width: 80%;
        margin: 10%;
    }

    h1{
        color: $color_title_menu3;
        font-family: $font_title_menu3;
        background: linear-gradient(to right, $color_title_menu3 0%, $color_gradient_menu3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media all and (max-width: 460px) {
            font-size: 34px;
        }
    
    }
    h2, li{
        font-family: $font_text_menu3;
        color: black;
    }
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_text_menu3;
    
    }
    .underlineTitle::before{
        content: '';
        background-color: $color_text_menu3;
    }
}
#blocEntrée_menu3{
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_title_menu3;

    }
}
#blocPlat_menu3{
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_text_menu3;

    }
}
#blocDessert_menu3{
    .borderTitle::before, .borderTitle::after{
        border-bottom-color: $color_borderdessert_menu3;

    }
}