//@keyframes ellipsis { to { width: 20px; } } 
@keyframes dot {
    0% { opacity: 0; } 
    50% { opacity: 0; } 
    100% { opacity: 1; } 
} 


@keyframes shake {
    10% { transform: translateX(3px); }
    30% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    70% { transform: translateX(-3px); }
    80% { transform: translateX(3px); }
    100% { transform: translateX(-3px); }  
}

    //.underlineTitle:hover{
      //  display: inline;
        //border-bottom:2px solid black;
        //position: relative;
        //animation: animline 3s 1500ms infinite normal linear ;
    //} 
    //.underline positio relative  underlinebefore content"" position absolute right o bottom 0 width 0 transition width 0.6s cubic-bezier(0.25, 1, 0.5,1) voir pr atmedia    
