@keyframes loading{
    from {transform: scaleX(0);}
    to {transform: scaleY(1);}
}

@keyframes shake {
    10% { transform: skewX(-20deg); }
    30% { transform: skewX(20deg); }
    50% { transform: skewX(-20deg); }
    70% { transform: skewX(20deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
}
