@mixin headfoot_rules {
    background-color: $color_background_headfoot;
    color: $color_text_headfoot;

}

@mixin footer_rules {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
}

@mixin home_rules {
    display: flex;
    flex-direction: column;
}

@mixin main_rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    width: 80%;
    align-self: center;
}

@mixin item_home_rules {
    border: solid rgba(150, 107, 107, 0.027);
    text-align: center;
    height: 400px;
    width: 30%;
    margin: 2%;
}

@mixin nav_home {
    align-self: center;
    width: 20%;
    border-radius: 20%;
    margin: 2%;
}

@mixin link_home {
    text-decoration: none;
    text-align: center;
}
@mixin link_item_home {
    opacity: 0.7;
    zoom: 1.2;
}

@mixin page_rules {
    display: flex;
    flex-direction: column;
    text-align: center;  
    align-self: center;
}

@mixin bloc_card_menu {
    border: 7px solid black;
    text-align: center;
    width: 70%;
    margin: 15%;
}

@mixin card_titleh1_top { 
    text-align: center;
    font-size: large ;
}

@mixin card_titleh3_bottom { 
    text-align: center;
    font-size:  medium;
}

@mixin list_titleh2-border { 
    text-align: center;
    border-bottom: medium;  
}

@mixin list_text_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //pour les carte des menus avec plat face a prix
}
