//concerne toutes les pages du site
@mixin headfoot_rules {
    background-color: $color_background_headfoot;
    color: $color_text_headfoot;
}

@mixin footer_rules {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    height: 50px;
    position: sticky;
    bottom: 0;
    .shakeLink:hover{
        animation: 400ms shake infinite;
        animation-iteration-count: infinite;
    }
    .shakeLink{
        @media all and (max-width: 460px) {
            font-size: smaller;

        }
        @media all and (min-width: 460px) and (max-width: 768px){
            font-size: medium;
            margin-top: 5%;

        }
    }
    @media all  and (max-width: 768px){
        height: 37px;

    }
}


@mixin titlelogo_header_rules {
    text-align: center;
    font-size: 47px;
    margin: 1%;
    width: 96%;
    @media all and (max-width: 460px) {
        font-size: 35px;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        font-size: 40px;
    }
    a{
        text-decoration: none;
        color:$color_text_headfoot ;
    }

}

 //a partir de a concerne page acceuil slmt
@mixin home_rules {
    display: flex;
    flex-direction: column;
    margin: 0;
}

@mixin mainHome_rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    width: 80%;
    align-self: center;
    @media all and (max-width: 460px) {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        align-items: center;
    }
}

@mixin link_home {
    text-decoration: none;
    text-align: center;
}

@mixin item_home_rules {
    border: solid rgba(150, 107, 107, 0.027);
    height: 400px;
    width: 30%;
    margin: 2%;
    box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px;
    @media all and (max-width: 360px) {
        height: 325px;
        width: 78%;
    }
    @media all and (min-width: 360px) and (max-width: 768px){
        width: 60%;
        height: 370px;
    }
}

@mixin bloctext_item_home {
    margin-top: 45%;
    text-align: center;
    transition: transform;
    transition-duration: 400ms;
    &:hover {
        transform: scale(1.3);
        opacity: 0.7;
        @media all and (max-width: 460px) {
            transform: scale(1.17);;
        }
        @media all and (min-width: 460px) and (max-width: 768px){
            transform: scale(1.1);
        }
    }
    h2 {font-size:xx-large;
        margin-bottom: 3%;
        font-weight: normal;
        @media all and (max-width: 460px) {
            font-size: x-large;
        }
    }
    p{ font-size: xx-large; 
        margin: 3%;
        @media all and (max-width: 460px) {
            font-size: x-large;
        }

    }
}

@mixin nav_home{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 30%;
    border-radius: 10px;
    margin: 2%;
    .textLoading{
        margin-left: 20%;
        @media all and (max-width: 460px) {
            margin-left: 12%;
        }
        @media all and (min-width: 460px) and (max-width: 768px){
            margin-left: 15%;
        }
    }
    .textLoading:after {
        display: inline-block;
        animation: dott steps(1,end) 1s infinite;
        content: '';
    }
    p{  
        font-size: larger;
        font-family: $font_link_footer;
        @media all and (max-width: 460px) {
            font-size: small;
        }
        @media all and (min-width: 460px) and (max-width: 768px){
            font-size: medium;
        }
    }
    @media all and (max-width: 460px) {
        width: 45%;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        width: 38%;
    }
}

//a partir de cette ligne ne concerne que les pages menus
@mixin page_rules{
    display: flex;
    flex-direction: column;
    text-align: center;  
    align-self: center;
    margin: 0;
}

@mixin mainPage_rules {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}
@mixin titlemain_rules {
    margin-bottom: 0%;
    margin-top: 5%;
    font-size: xx-large;
    font-family: $font_title_page;
    @media all and (max-width: 460px) {
        font-size: 23px;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        font-size: 27px;
    }

    //ajouter police
}


@mixin bloc_card_menu{
    border: solid rgba(150, 107, 107, 0.027);
    text-align: center;
    width: 65%;
    height: 950px;
    align-self: center;
    margin: 5%;
    margin-top: 2%;
    box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px;
    @media all and (max-width: 460px) {
        width: 93%;
        height: 572px;
        margin: 3%;
    }
    @media (min-width: 460px) and (max-width: 580px){
        width: 85%;
        height: 705px;
        margin: 3%;
    }
    @media all and (min-width: 580px) and (max-width: 800px){
        width: 80%;
        height: 760px;
    }
    .borderTitle{
        margin:auto;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .borderTitle:before , .borderTitle:after{
        content:'';
        border-bottom:5px solid;
        height:2px;
        width:30%;
        display:block;
        margin:3%;    
        @media all and (max-width: 460px) {
            border-bottom: 2px solid;
        }
        @media all and (min-width: 460px) and (max-width: 768px){
            border-bottom: 3px solid;
        }
    
    }

    .underlineTitle{
        position: relative;
    }
  
    .underlineTitle::before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
  
    .underlineTitle:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

@mixin card_titleh1_top{ 
    text-align: center;
    font-size: 50px ;
    font-weight: normal;
    margin: 10%;
    @media all and (max-width: 460px) {
        font-size: 30px;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        font-size: 40px;
    }

}

@mixin card_titleh2_border{ 
    display: flex;
    position: relative;
    justify-content: center;
    font-size: medium;
    width: 25%;
    @media all and (max-width: 460px) {
        font-size: x-small;
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        font-size: small;
    }
    
        
}


@mixin card_titleh3_bottom{ 
    text-align: center;
    font-size: 30px ;
    font-weight: normal;
    @media all and (max-width: 460px) {
        font-size: 17px;
    }
    @media (min-width: 460px) and (max-width: 580px){
        font-size: 20px;
    }
    @media all and (min-width: 580px) and (max-width: 800px){
        font-size: 23px;
    }

}

@mixin list_text_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2.5;
    text-align: start;
    font-size: small;
    @media all and (max-width: 460px) {
        font-size: 11px;
        line-height:1.5 ;
    }
    @media (min-width: 460px) and (max-width: 580px){
        line-height: 2.2;
        font-size: x-small;
    }

    @media all and (min-width: 580px) and (max-width: 768px){
        line-height: 1.7;
    }

}

@mixin ul_bloc_menu{
    margin-top: 2%;
    margin-bottom: 3%;
    padding-left: 7%;
    padding-right: 7%;
    @media all and (max-width: 460px) {
        padding-left: 1%;
        padding-right: 1%;
    
    }
    @media all and (min-width: 460px) and (max-width: 768px){
        padding-left: 3%;
        padding-right: 3%;
    
    }

}