@mixin headfoot_rules {
    background-color: $color_background_headfoot;
    color: $color_text_headfoot;

}

@mixin footer_rules {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    position: sticky;
    bottom: 0;
}

@mixin home_rules {
    display: flex;
    flex-direction: column;
    margin: 0;
}


@mixin main_rules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
    width: 80%;
    align-self: center;
}
@mixin link_home {
    text-decoration: none;
    text-align: center;
}

@mixin item_home_rules {
    border: solid rgba(150, 107, 107, 0.027);
    height: 400px;
    width: 30%;
    margin: 2%;
    box-shadow: rgba(10, 10, 10, 0.15) 2px 2px 10px 5px; 
}
@mixin bloctext_item_home {
    margin-top: 40%;
    text-align: center;
    h2 {font-size: large;
    }
    a:hover{opacity: 0.7;
        zoom: 1.2;
    }
    p{ font-size: x-large; 
        font-weight: bold;   
    }
}
@mixin nav_home {
    align-self: center;
    width: 30%;
    border-radius: 10px;
    margin: 2%;
    p{
        text-align: center;
        font-size: larger;
    }

}

//a partir de cette ligne ne concerne que les pages menus
@mixin page_rules {
    display: flex;
    flex-direction: column;
    text-align: center;  
    align-self: center;
}

@mixin bloc_card_menu {
    border: 7px solid rgba(0, 0, 0, 0.041);
    text-align: center;
    width: 70%;
    align-self: center;
    box-shadow: grey 3px 3px 3px 3px;

}

@mixin card_titleh1_top { 
    text-align: center;
    font-size: large ;
    margin: 5%;
}

@mixin card_titleh3_bottom { 
    text-align: center;
    font-size:  medium;
    margin: 5%;
}

@mixin list_titleh2-border { 
    text-align: center;
    border-bottom: medium;  
}

@mixin list_text_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //pour les carte des menus avec plat face a prix
}
@mixin ul_bloc_menu {
    padding-left: 0;
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
}