$color_background_headfoot:579c87;
$color_text_headfoot:fdcb46;

$color_backgound_page:ffffff;

$color_text_m1:3d1319 ;
$color_background_m1:fcdfdb;
$color_picto_m1:f05861;

$color_text_m2:c77412;
$color_background_m2:fff5fe;
$color_text_entreem2:c67412;
$color_text_platm2:a56799;
$color_text_dessertm2:6e4ccc;

$color_text_m3:0887fb;
$color_background_m3:f9f9f9;

$color_text_m4:72bf56;
$color_background_m4:fdfffd;

$color_text_black:000000;

