
$color_background_headfoot:#579c87;
$color_text_headfoot:#fdcb46;

$color_text_menu1:#3d1319 ;
$color_background_menu1:#f7c7c1;
$color_picto_menu1:#f5606a;

$color_text_menu2:#c77412;
$color_background_menu2:#fce9fa ;
$color_text_entreemenu2:#c67412;
$color_text_platmenu2:#a56799;
$color_text_dessertmenu2:#6e4ccc;

$color_text_menu3:#0887fb;
$color_background_menu3:#edeffa;

$color_text_menu4:#72bf56;
$color_background_menu4: #e8f8e8;

// la liste des polices a inclure font_title_header: europa Grotesk;font_link_footer: mirai medium , stemstem;font_link_menu1:segoe print, kalam;
//la liste des polices par menu font_title_menu1: manus black hand;font_card_menu1: kalam;font_link_menu2:candida, ff casus, gabriela;font_title_menu2: quilla regular;font_card_menu2:candida ;font_link_menu3:segoe, kalam;font_title_menu3:regards script regular;font_card_menu3:segoe, kalam;font_link_menu4: segoe, kalam;font_title_menu4: breech regular;font_card_menu4: segoe;
 
//concerne la page acceuil

$font_title_header: "Europa Grotesk";
$font_link_footer: "Mirai medium ";

//concerne les polices propres a chaque menu

$font_link_menu1 : "Segoe Print" ;
$font_title_menu1: "Manus";
$font_card_menu1: "Kalam";

$font_link_menu2:"Candida";
$font_title_menu2: "Quilla regular";
$font_card_menu2:"Candida" ;

$font_link_menu3 : "Segoe" ;
$font_title_menu3:"regards script regular";
$font_card_menu3:"Segoe";

$font_link_menu4 : "Segoe" ;
$font_title_menu4: "Breech regular";
$font_card_menu4: "Segoe";
